.accordion {
    font-family: Roboto, sans-serif;
    max-width: 1072px;
    margin: 60px auto 0;
    padding: 0 20px;
}
.accordionItem {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 14px;
}
.accordionToggle {
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.4);
    min-height: 62px;
    line-height: 1;
    border-radius: 16px;
    padding-left: 61px;
    display: flex;
    align-items: center;
}
.accordionToggleActive {
    background: #A78151;
}
.arrow {
    position: absolute;
    left: 8px;
    top: 7px;
}
.accordionBody {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 89%;
    margin: 20px auto;
}
.header {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .header {font-size: 20px;}
    .accordionItem {font-size: 15px;}
    .accordionBody {font-size: 11px;}
    .accordionToggle {min-height: 39px; border-radius: 10px;}
    .arrow {top: -6px;}
}

@media (max-width: 640px) {
    .header {
        line-height: 1;
        text-align: center;
    }
}
